body{
  // background: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
  
  background: linear-gradient(to bottom, #30cfd0 0%, #330867 100%);
  }

.box{
  position:relative;
  display:block;
  margin:auto;
  margin-top:8%;
  height:600px;
  width:600px;
  // border: solid 3px;  
  border-radius: 5%;
  overflow:hidden;  
}
.face{
  position:absolute;
  height:100%;
  width:40%;
  background: linear-gradient(to right, #cad111 5%, 
#E1E913  80%, 
#cad111 100%);
  border-radius:120px;
  left:30%;
  top:20%;  
}
.bun{
  position:absolute;
  height:15%;
  width:20%;
  background: black;
  border-radius:50%;
  	border-right: 5px solid rgba(255,255,255,0.2);
  left:40%;
  top:10%;
  z-index:-1;
}
.bun_2{
  position:absolute;
  height:7%;
  width:9%;
  background:black;
  border-radius:50%;
  	border-right: 5px solid rgba(255,255,255,0.2);
  left:45.5%;
  top:5%;
  z-index:-1;
  
}
.smile{
  position:absolute;
  height:5%;
  width:20%;
  background:transparent;
  border-radius:120%;
  border-bottom:black solid 5px;
  top:70%;
  left:40%;
  animation: smirk 5s infinite;
}
.glass{
  position:absolute;
  height:20%;
  width:20%;
  background:#EFF716;
  border-radius:50%;
  border:gray solid 15px;
  top:30%;
  left:37%;
  overflow:hidden;
}
.eye{
  position:absolute;
  height:65%;
  width:100%;
  background:white;
  border-radius: 0 0 50px 50px;
  top:25%;
  animation: blink 4s infinite;
}
.brown_eye{
  position:absolute;
  height:40px;
  width:40px;
  background: #826C48;
  border-radius:50%;
  left:30%;
  // animation: roll 3s forwards;
}
.black_eye{
  position:absolute;
  height:20px;
  width:20px;
  background: black;
  border-radius:50%;
  left:25%;
  top:25%;
}

.white_eye{
  position:absolute;
  height:10px;
  width:10px;
  background: white;
  border-radius:50%;
  left:5%;
  top:10%;
}
.strap_1{
  position:absolute;
  height:3%;
  width:8%;
  background:#595959;
  top:38%;
  left:30%;
  border-radius:6px;
  border:2px solid black;
}
.strap_2{
  position:absolute;
  height:3%;
  width:8%;
  background:#595959;
  top:41%;
  left:30%;
  border-radius:6px;
  border:2px solid black;
}
.strap_3{
  position:absolute;
  height:3%;
  width:8%;
  background:#595959;
  top:38%;
  right:30%;
  border-radius:6px;
  border:2px solid black;
}
.strap_4{
  position:absolute;
  height:3%;
  width:8%;
  background:#595959;
  top:41%;
  right:30%;
  border-radius:6px;
  border:2px solid black;
}
.strap_5{
  position:absolute;
  height:3%;
  width:1%;
  background:white;
  top:38%;
  left:35.5%;
  border-radius:6px;
  border:2px solid black;
}
.strap_6{
  position:absolute;
  height:3%;
  width:1%;
  background:white;
  top:41%;
  left:35.5%;
  border-radius:6px;
  border:2px solid black;
}
.strap_7{
  position:absolute;
  height:3%;
  width:1%;
  background:white;
  top:38%;
  right:36.5%;
  border-radius:6px;
  border:2px solid black;
}
.strap_8{
  position:absolute;
  height:3%;
  width:1%;
  background:white;
  top:41%;
  right:36.5%;
  border-radius:6px;
  border:2px solid black;
}
@keyframes smirk {
  100%{
    transform:rotate(-15deg);    
  }
}
// @keyframes roll{
//   100%{
//     left:60%;
//   }
// }

@keyframes blink{
  0%{
    transform: scaley(1);
  }
  4%{
    transform: scaley(0.1);
  }
  8%{
    transform: scaley(1);
  }
  100%{
    transform: scaley(1);
  }
}