.box
  .face
  .bun
  .bun_2
  .smile
  .strap_1
  .strap_2
  .strap_3
  .strap_4
  .strap_5
  .strap_6
  .strap_7
  .strap_8
  .glass
    .eye
      .brown_eye
        .black_eye
          .white_eye
